<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ambientaudio"
        version="1.0.0">

  <name>AmbientAudio</name>

  <description>
    Sets audio session category to ambient.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="AmbientAudio">
        <param name="ios-package" value="AmbientAudio"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/AmbientAudio.h"/>
    <source-file src="src/ios/AmbientAudio.m"/>
  </platform>

</plugin>
